*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #696969;
}

#karteuh{
    width:400px;
    border: 60px;
    padding-top: 10px;
}
.app{
    background-color: #ffffff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 100px;
}

.app h1{
    font-size: 40px;
    color: #760808;
    font-weight: 600;
    padding-bottom: 5px;
    text-align: left;
}

h2 {
    font-size: 20px;
    color: #760808;
    font-weight: 600;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}
h3{
    font-size: 15px;
    color: #760808;
    font-weight: 600;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 0px;
}
p {
    font-size: 15px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
}

#button{
    background: #760808;
    color: #ffffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
}
